.l-section {

    &--inicio {
        background: url('../img/img-1.jpg') no-repeat center center;
        background-size: cover;
    }

    &--productos {
        background: url('../img/img-2.jpg') no-repeat center center;
        background-size: cover;
    }

    &--recompensas {
        .l-section__safe-area {
            @include media(">=tablet") {
                padding: 2rem;
            }
        }

        background: url('../img/img-3.jpg') no-repeat center center;
        background-size: cover;
    }

    &__inner {
        height: $section_base_height;

        visibility: visible;
        backface-visibility: hidden;

        @include media(">=tablet") {
            padding-top: 175px;
        }

        @include media(">=desktop") {
            padding-top: 0;
        }
    }

    &__safe-area {
        width: 100%;
        height: 100%;

        @include media(">=desktop") {
            width: calc(100% - 240px);
            height: $section_base_height;
        }
    }
}

.l-view {
    position: relative;
    padding: 170px 16px 16px 16px;
    @include media(">=tablet") {
        padding: 122px 32px 32px 32px;
    }
}