// base size
$base_size: 16px;
$second_size: 14px;
$section_base_height: 100vh;

// conf fonts
$base_font: UniversCondenced;
$head_font: Robofan; 

// colors
$base_color_alpha:      #DA5596;
$base_color_beta:       #F8961D;
$base_color_gamma:      #0182AF;
$base_color_delta:      #7F3494;
$base_color_epsilon:    #321D5A;

$facebook_color:  	    #3b5998;