/*Button style*/
.c-button {
    position: relative;

    display: inline-block;
    padding: 0.3rem 2.5rem 0.3rem 0.5rem;

    border: none;
    border-bottom: 1px solid currentColor;

    &__icon {
        position: absolute;
        top: 0;
        right: 0;

        display: block;
        width: 2rem;
        height: 100%;
        padding-top: 0.1rem;

        text-align: center;

        border-bottom: 3px solid currentColor;

        .icon {
            vertical-align: middle;
        }
    }

    &--beta {
        color: $base_color_beta;
        background-color: rgba($base_color_beta, 0.3);  
    }

    &--alpha {
        color: $base_color_alpha;
        background-color: rgba($base_color_alpha, 0.3);  
    }

    &--epsilon {
        color: $base_color_delta;
        background-color: rgba($base_color_epsilon, 0.85);  
    }
}

button.c-button {
    .c-button__icon {
        padding-top: 0.2rem;
    }
}