/*Presentation styles*/
.c-presentation {
  text-align: center;
  width: 100%;

  &__title {
    display: inline-block;
    max-width: 300px;
    margin-bottom: 2rem;
  }

  &__composition {
    display: inline-block;
  }

  &__footer {
    margin-top: 2rem;
  }
}