/*Presentation styles*/
.c-presentation {
  text-align: center;
  width: 100%;

  &__content {
    position: relative;
  }

  &__title {
    display: inline-block;
    max-width: 200px;

    @include media(">=tablet") {
      max-width: 300px;
    }
  }

  &__composition {
    display: none;
    margin: 2rem 0;
    @include media(">=tablet") {
      display: inline-block;
    }
  }

  &__carousel {
    margin: 0 auto;

    &--products {
      width: 300px;
    }

    &--gifts {
      width: 300px;

      @include media(">=tablet") {
        width: 100%;
      }
    }

    /*custom owl styles*/
    .owl-prev {
      left: 0;
    }

    .owl-next {
      right: 0;
    }

    .owl-prev,
    .owl-next {
      position: absolute;
      top: 50%;

      margin-top: -52px;
      font-size: 5rem;

      color: $base_color_alpha;
    }
  }
}


.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
-webkit-backface-visibility: hidden;
-moz-backface-visibility:    hidden;
-ms-backface-visibility:     hidden;
-webkit-transform: translate3d(0,0,0);
-moz-transform: translate3d(0,0,0);
-ms-transform: translate3d(0,0,0);
}