/*Home styles*/

.p-home {
    position: relative;

    &:after {
        content: '';

        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 10;

        display: none;
        width: 204.6px;
        height: 329.3px;

        background: url('../img/groot_bebe.png') no-repeat center center;
        background-size: cover;

        @include media(">=tablet") {
            display: block;
        }

        @include media(">desktop") {
            right: 20%;
        }
    }

    &__art {
        position: absolute;
        top: 0;
        left: 0;

        width: 80%;

        background: url('../img/img-arte-mobile.png') no-repeat top right;
        background-size: cover;

        @include media(">=tablet") {
            width: 70%;
            min-width: 400px;
            background: url('../img/img-arte-escritorio.png') no-repeat top right;
            background-size: cover;
        }
        @include media(">=desktop") {
            width: 40%;
        }
    }

    &__intro {
        position: relative;
        z-index: 20;

        width: 60%;
        height: 100%;
        padding-right: 1rem;

        text-align: center;

        @include media(">=desktop") {
            width: calc(100% - 400px);
        }

        &-inner {
            display: inline-block;
            text-align: left;
        }

        &-text {
            margin: 0;

            line-height: 1.5;
            font-size: 1.1rem;
        }

        &-copyfig {
            max-width: 320px;
        }
    }

    &__list {
        display: none;
        padding-left: 1rem;
        margin-top: 1rem;
        list-style: disc;

        @include media(">=tablet") {
            display: block;
        }

        &-item {
            margin-bottom: 0.8rem;
        }
    }

    .c-button {
        margin-top: 1rem;
    }
}