/*Base settings styles*/
html, body {
    position: relative;

    padding: 0;
    margin: 0;
    height: 100%;

    font-size: $base_size;
    font-family: $base_font;
    text-transform: uppercase;
    letter-spacing: 1px;

    color: white;
    background-color: $base_color_epsilon;

    &::before {
        content: 'mobile';
        display: none;

        @include media(">desktop") {
            content: 'desktop';
        }
    }

    &.js-offcanvas-on {
        overflow: hidden;

        .l-sidenav {
            transform: translate3d(0, 0, 0);
        }

        .l-overlay {
            animation-name: fade-in;
        }

        .l-wrapper {
            transform: translate3d(-240px, 0, 0);
        }
    }

    &[data-hijacking="on"] {
        .cd-section {
            @include media(">desktop") {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }

            &.visible {
                z-index: 10;
            }
        }
    }
}

* {
    box-sizing: border-box;
}

figure {
    margin: 0;
}

a {
    text-decoration: none;
}

input, label, button {
    font-weight: 500;
    font-size: 1rem;
    font-family: $base_font;
    text-transform: uppercase;
    letter-spacing: 1px;

    color: currentColor;
}

input, button {
    outline: none;
}

button {
    cursor: pointer;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}